.footer, .header {
    background-color: black!important;
    color: #ffd46d!important;
    margin: 0;
    padding: 1.5rem;  
    display: flex;
    height: 5rem;
}
.header {
    font-size: 4em;
}

.body {
    background-color: #353333!important;
    padding: 2rem;
    color:#ffd46d!important;
}

.text {
    color:#ffd46d!important;
}

.custom-cell{
    align-items: center;
    justify-content: center;
    display: flex;
}

.custom-button {
    background-color: #ffd46d!important;
    color: #353333!important;
    font-size: 1.25em;
}

.custom-button:hover {
    background-color: #e8960d!important;
    color: #353333!important;
}

.custom-orbit-caption {
    top: 0;
    position: absolute;
    bottom: auto;
}

header img {
    height: 4rem;
}

.logo {
    display:inline-flex;
    align-items: center;
}

.blurred_image {
    filter: blur(28px);
    -webkit-filter: blur(28px);
}